ccxt==1.54.41 # Spécifier une version spécifique pour éviter les incompatibilités
pandas==1.3.3
prophet==1.1.1
PyGithub==1.55
gymnasium==0.11.0 # Si vous utilisez une version spécifique
stable-baselines3==1.1.0
finta==4.3.11
numpy==1.21.2
